@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,900;1,700&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  overscroll-behavior-y: none;
  background: #f5f5f5;
  font-family: 'Inter var', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
}

a {
  color: white;
}

a {
  pointer-events: all;
  color: white;
  text-decoration: none;
}

svg {
  fill: white;
}

/* .dropdown {
  position: absolute;
  top: 40px;
  left: 40px;
  display: inline-block;
} */

nav {
  position: absolute;
  top: 40px;
  left: 40px;
  display: inline-block;
}

.menu {
  margin: 0;
  /* hide menu */
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 200ms ease-in-out;
}

/* reveal menu */

.catalogue:hover + .menu, .menu:hover{
  opacity: 1;
  transform: scaleY(1);
}


nav:hover .arrow {
  
  transform: rotate(-45deg);
}



.catalogue{
  padding: 0.5rem;
}

.menu li{
  /* list-style: none; */
}

.menu li a {
  /* padding: 1rem 1.5rem; */
  display: block;
  /* padding: 0.5em 0; */
}

.has-dropdown{
  position:relative
}
.submenu{
  /* position:absolute; */
  left:0;
  white-space: nowrap;
  min-width:9em
}

.submenu >li > a{
  /* padding: 0.8em 1.5em; */
}

.menu > li:hover>a, .submenu > li:hover > a {
  background-color: #ffffff41;
}

.arrow {
  width:0.5em;
  height: 0.5em;
  display:inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(45deg);
  margin-top: -0.25em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition: transform 200ms ease-in-out;
  
}

.dropdown-demo1 {
  position: absolute;
  top: 40px;
  left: 840px;
  display: inline-block;
}

.dropdown-demo2 {
  position: absolute;
  top: 40px;
  left: 1040px;
  display: inline-block;
}

.dropdown-demo3 {
  position: absolute;
  top: 40px;
  left: 1240px;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 1rem;
  border:none
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgba(216, 216, 216, 0.3);}

.dropdown:hover .dropdown-content {display: block;}
.dropdown-demo1:hover .dropdown-content {display: block;}
.dropdown-demo2:hover .dropdown-content {display: block;}
.dropdown-demo3:hover .dropdown-content {display: block;}


.preview-text {
  font-size: 0.8rem;
}

@media only screen and (max-width: 920px) {
  nav {
    width: 80%;
  }

  .menu {
    background-color: #ffffff93;
    
  }

  .menu > li {
    list-style: none;
    padding: 0.5em 0.5em;
    
  }

  .menu > li > a {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(81, 87, 136);
  }

  .submenu > li{
    list-style: none;
    padding: 0.3em 0.3em;
  }

  .submenu > li>a{
    font-size: 1.1rem;
    color: rgb(81, 87, 136);
  }
}